html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: system-ui, sans-serif;
}

@font-face {
	font-family: "Minecrafter";
	src: url("/fonts/minecrafter/Minecrafter.Reg.woff2"), sans-serif;
}

main {
	background: #171615;
	width: 100%;
	min-height: 100%;
	line-height: 1.4;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
	padding: 0;
}

.nav-bar {
	width: 100%;
}

.title {
	font-family: Minecrafter;
	color: #c6b8b4;
	text-shadow: 0px 5px 4px black;
	font-size: clamp(0.5rem, 2vw + 2rem, 4rem);
	margin: 0 0 2rem 0;
	padding: 0;
}

main a {
	color: #fe900d;
}

main a:hover {
	color: yellow;
}

.side-paragraph {
	padding: 0.5rem;
	margin: 0 1rem 0 0.5rem;
	border: 1px solid white;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: white;
	overflow: auto;
	height: 500px;
	max-width: 80ch;
}

.side-paragraph h3 {
	margin: 0; 
}

.side-paragraph p {
	margin-top: 0; 
	margin-bottom: 1.5rem; 
}

.hack-info {
	border: 5px groove #fe900d;
	margin: 0;
	padding: 0;
}

.hack-info p {
	text-align: center;
	padding: 5px;
	margin: 0;
	box-sizing: border-box;
}

.main-container {
	display: flex;
	flex: 1;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	max-width: 100%;
}

.gh-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: right;
}

.gh-link {
	height: 75px;
}

.gh-link svg {
	height: 100%;
	fill:#fff;
	color:#151513;
}

.game-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: black;
	color: #eee;
	color-scheme: dark;
	position: relative;
	width: 800px;
	height: 500px;
	aspect-ratio: 8 / 5;
	margin: 0 0.5rem 0 1rem;
	box-sizing: border-box;
}

.game-container > progress {
	width: calc(100% - 2em);
	margin: 1em;
}

.game-container *:focus {
	outline: none;
}

.loading-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.spinner {
	width: 10%;
	height: 10%;
}

.intro {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.intro > p {
	padding: 0 1rem;
	text-align: center;
	max-width: 60ch;
}

.intro > button {
	padding: 0.5em 1em;
	font-family: system-ui, sans-serif;
	margin: 2em;
}

.disclaimer {
	font-size: 0.8em;
	padding: 0 1rem;
	text-align: center;
	opacity: 0.5;
}

.display a {
	color: white;
}

.display a:hover {
	color: white;
}

.display {
	display: none;
	aspect-ratio: 8 / 5;
	width: 800px;
	height: 500px;
	inset: 0;
}

canvas {
	width: inherit;
	height: inherit;
}

progress {
	display: none;
}

.timeout-info {
	display: none;
	position: absolute;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
}

.timeout-info > p {
	max-width: 60ch;
	text-align: center;
	margin: 0.75rem 0;
}

.timeout-info > h1 {
	font-size: 2.75rem;
	margin: 0;
}

.timeout-info > img {
	width: 80%;
	border: 1px solid white;
}

.timeout-timer {
	position: absolute;
	font-size: 2.5rem;
	margin: 0;
	top: 2.5%;
	right: 0;
	display: none;
}

.timeout-timer > p {
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 1rem;
	color: white;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8),
							 -1px -1px 2px rgba(0, 0, 0, 0.8),
							 1px -1px 2px rgba(0, 0, 0, 0.8),
							 -1px 1px 2px rgba(0, 0, 0, 0.8);
}

.pagecontrols {
	display: none;
	position: absolute;
	left: 0%;
	bottom: -10%;
	margin: 0.5rem 0;
}

.pagecontrols > * {
	appearance: none;
	background: transparent;
	border: 0;
	cursor: pointer;
	width: 24px;
	height: 24px;
	margin-right: 0.5rem;
}

.pagecontrols svg {
	stroke: #c6b8b4;
}

.pagecontrols > *:hover svg {
	stroke: white;
}

.footer-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
	font-weight: 400;
}

.footer-paragraph p {
	align-items: center;
	max-width: 120ch;
	font-size: 0.85rem;
	color: white;
	padding: 0.25rem 0;
	margin: 0;
	text-align: center;
}

div#footer-logo{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0 0 0.25rem 0;
}

img#lt-logo{
	width: 1.5em;
	height: 1.5em;
	display: inline-block;
}

p#footer-text{
	margin-left: 0.75rem;
	font-size: 0.875rem;
	color: white;
	display: inline-block;
	padding: 0;
	margin: 0;
}

.solid {
	color: white;
}

@media (max-width: 900px) {
	.gh-link {
		height: 50px;
	}
	.main-container {
		overflow: auto;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	.side-paragraph {
		max-width: unset;
		width: 800px;
		height: 100%;
		margin: 1rem;
	}
	.side-paragraph > h3 {
		font-size: 2rem;
	}
	.game-container {
		margin: 0;
	}
	.solid {
		min-width: unset;
		width: 95%;
	}
}
