/* @import 'tailwindcss'; */
/* @plugin '@tailwindcss/forms'; */

html, body {
	height: 98vh;
	margin: 0;
	padding: 0;
	background: #d6d6d6;
	font-family: system-ui, sans-serif;
}

@font-face {
	font-family: "Minecrafter";
	src: url("/fonts/minecrafter/Minecrafter.Reg.woff2"), sans-serif;
}

header {
	background: #171615;
	color: white;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 5%;
}

main {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 85%;
}

main h1 {
	color: #93510f;
	font: 52px Minecrafter;
	transform: perspective(24px) translateZ(0) rotate3d(1, 0, 0, 2deg);
	text-shadow: 0px 5px 4px black;
}

footer{
	width: 100%;
	height: 10%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: system-ui;
	font-weight: 300;
}

@media (max-width: 900px) {
	minecraft-client {
		width: 100%;
	}
}

.container {
	display: inline-block;
	aspect-ratio: 4 / 3;
	position: relative;

	background: black;
	color: #eee;
	color-scheme: dark;

	width: 800px;
	height: 500px;
}

.display {
	width: 800px;
	height: 500px;
	position: relative;
	inset: 0;
	display: none;
}

.intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.intro > p {
	max-width: 60ch;
}

.disclaimer {
	font-size: 0.8em;
	opacity: 0.5;
}

.intro > button {
	padding: 0.5em 1em;
	margin: 2em;
}

.container > progress {
	width: calc(100% - 2em);
	margin: 1em;
}

.container *:focus {
	outline: none;
}

a {
	color: #62605d;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
	color: #ff8d1c;
}

div#footerLinks{
	max-width: 50%;
	display: flex;
	justify-content:space-evenly;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25%;
	padding-right: 25%;
	text-align: center;
	position: relative;
	font-size: 14px;
}

div#footerLogo{
	display: flex;
	align-items: center;
	justify-content: center;
}

img#ltlogo{
	width: 1.5em;
	height: 1.5em;
	display: inline-block;
}

p#footerText{
	margin-left: 12px;
	font-size: 14px;
	color: #62605d;
	display: inline-block;
}

hr.solid {
	max-width: 70%;
}

.timeout {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
}

.timeout > p {
	max-width: 60ch;
}

.timeout-timer {
	position: absolute;
	font-size: 3rem;
	margin: 0;
	top: 2%;
	right: 0;
}

.timeout-timer > p {
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 1rem;
	color: white;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8),
							-1px -1px 2px rgba(0, 0, 0, 0.8),
								1px -1px 2px rgba(0, 0, 0, 0.8),
							-1px 1px 2px rgba(0, 0, 0, 0.8);
}