/* @import 'tailwindcss'; */
/* @plugin '@tailwindcss/forms'; */

html, body {
  height: 98vh;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */

  font-family: system-ui, sans-serif;
}

@font-face {
  font-family: "Minecrafter";
  src: url("/fonts/minecrafter/Minecrafter.Reg.woff2"), sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #171615;
  color: white;
  margin: 0;
  padding: 0;
  /* padding: 1rem; */
  width: 100%;
  height: 10%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* padding: 5%; */
  /* margin: 0 auto; */
  /* padding: 1rem;
  max-width: 60ch; */
  width: 100%;
  height: 80%;
  /* box-sizing: border-box; */
  /* line-height: 1.4; */
}

main h1 {
  color: #93510f;
  font: 52px Minecrafter;
  transform: perspective(24px) translateZ(0) rotate3d(1, 0, 0, 2deg);
  text-shadow: 0px 5px 4px black;
}

footer{
  /* display: flex;
  flex-direction: column; */
	/* align-items: center;
  justify-content: center; */
	width: 100%;
  height: 10%;
  box-sizing: border-box;
  /* padding: 5%; */
  /* margin: 0;
  padding: 0; */
	padding-bottom: 2vh;
	/* bottom: 0; */
	font-family: system-ui;
	font-weight: 300;
}

main h2 {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem;
}

main li {
  margin: 0.5rem 0;
}

@media (max-width: 900px) {
  minecraft-client {
    width: 100%;
  }
}

.pagecontrols {
  margin: 0.5rem 0;
}

.pagecontrols > * {
  appearance: none;
  background: transparent;
  border: 0;
  cursor: pointer;

  width: 24px;
  height: 24px;

  margin-right: 0.5rem;
}

.pagecontrols svg {
  stroke: #c6b8b4;
}

.pagecontrols > *:hover svg {
  stroke: black;
}

.pagecontrols > #share {
  display: none;
}

.container {
  display: inline-block;
  aspect-ratio: 4 / 3;

  background: black;
  color: #eee;
  color-scheme: dark;

  width: 800px;
  height: 500px;
}

.display {
  width: 800px;
  height: 500px;
  position: relative;
  inset: 0;
  display: none;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.intro > p {
  max-width: 60ch;
}

.disclaimer {
  font-size: 0.8em;
  opacity: 0.5;
}

.intro > button {
  padding: 0.5em 1em;
  margin: 2em;
}

.container > progress {
  width: calc(100% - 2em);
  margin: 1em;
}

.container *:focus {
  outline: none;
}

a {
	color: #62605d;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
	color: #ff8d1c;
}

div#footerLinks{
	max-width: 50%;
	display: flex;
	justify-content:space-evenly;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25%;
	padding-right: 25%;
	text-align: center;
	position: relative;
	font-size: 14px;
}

div#footerLogo{
	display: flex;
	align-items: center;
	justify-content: center;
}

img#ltlogo{
	width: 1.5em;
	height: 1.5em;
	display: inline-block;
}

p#footerText{
	margin-left: 12px;
	font-size: 14px;
	color: #62605d;
	display: inline-block;
}

hr.solid {
	max-width: 70%;
	/* border-top: 1px solid #454442;
	border-bottom: none; */
}